@model List<Product>
<script src="~/js/orderData.js"></script>
<div class="container">

    <div class="d-flex justify-content-between align-content-center align-items-center my-4 ">
        <h1>Orders List</h1>
        <a class="btn btn-primary" asp-action="Upsert" asp-controller="Product">Create</a>
    </div>
    <table id="tblData" class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>Status</td>
                <td>Total</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
