@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully!</h1>
        <p>Your Order Number Is  :  @Model </p>
        <img src="/Images/success.jpg" class="img-fluid" />
    </div>
    <div class="col-12 text-center">
        <br />
        Your Payment has been applied Successfuly!
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model">Back to Order Details</a>
    </div>
</div>